<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    <title>sports</title>
</head>
<body>
   
   <h1>Soccer Leagues:</h1>
		<%if (sports){ %>
	<table>
		 <tr>
    <th>name</th>
    <th>League ID</th>
    <th>Country ID</th>
  </tr>
   <% for(var item in sports){ %>
        <tr>
          <td><%= sports[item].name %></td>
         <td><%= sports[item].league_id %></td>
        <td><%= sports[item].country_id %></td>
        </tr>
        
     <%  } %>  
    </table>
	<% } else { %> <p>
	No Record Found
	</p>
	<% } %>
</body>
</html>